/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column; 
  }

  main {
    flex: 1; 
  }

  footer {
    flex: 0 0 auto; 
  } */

.Table {
    width: px;
    height: px;
    box-shadow: 0px 1px 4px rgba(45, 45, 45, 0.16);
    border: 1px solid #414141;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
 
  .Header {
    align-self: stretch;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 250px;
    background: #1D1D1D;
    border-bottom: 1px solid #5A5A5A;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }

  header h1 {
    font-size: 5em;
    /* background-image: url(/soccerballs.jpeg); */
    background-size: 100px;
    background-repeat: repeat;
    color: red;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
    text-transform: uppercase;
  }
  
  .Frame2 {
    flex: 1 1 0;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 58px;
    display: flex;
  }
  
  .Item {
    width: 120px;
    height: 20px;
    color: #F5F5F5;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  #table-body tr {
    /* Add your desired styles for table rows within the table body here */
    background-color: #EFEFEF; /* Example background color */
  }

  #table-body td {
    /* Add your desired styles for table cells within the table body here */
    height: 1em;
    width: 9.15em;
    text-align: center;
    border-bottom: 1px solid #DDD; /* Example bottom border */
  }

  .Button {
    text-align: center; 
    color: #E8EEF7; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
    width: 66px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    background: #1957B4; 
    box-shadow: -1px 2px 1px #0F0F0F; 
    border-radius: 7px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex
  }

  .Button:hover {
    background-color: #b94f29;
}

.aInfo{ 
  position:absolute;
  left: 80%;
  top: 200px;
  
}

.dltBtn {
  position:absolute;
  left: 90%;
  top: 5%;
  color:#0F0F0F;
  box-shadow: -1px 2px 1px black; 
  border-radius: 10%; 
  background-color: gainsboro;
}

.dltBtn:hover{
  background-color: red;
}

  