
.Table {
    width: px;
    height: px;
    box-shadow: 0px 1px 4px rgba(45, 45, 45, 0.16);
    border: 1px solid #414141;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex;
  }
  
 
  .Header {
    align-self: stretch;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 12px;
    padding-right: 250px;
    background: #1D1D1D;
    border-bottom: 1px solid #5A5A5A;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
  }
  
  .Frame2 {
    flex: 1 1 0;
    height: 20px;
    justify-content: flex-start;
    align-items: center;
    gap: 58px;
    display: flex;
  }
  
  .Item {
    width: 120px;
    height: 20px;
    color: #F5F5F5;
    font-size: 14px;
    font-family: Inter;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  #table-body tr {
    /* Add your desired styles for table rows within the table body here */
    background-color: #EFEFEF; /* Example background color */
  }

  #table-body td {
    /* Add your desired styles for table cells within the table body here */
    padding: 62px; /* Example padding */
    border-bottom: 1px solid #DDD; /* Example bottom border */
  }

  .Button {
    text-align: center; 
    color: #E8EEF7; 
    font-size: 14px; 
    font-family: Inter; 
    font-weight: 600; 
    word-wrap: break-word;
    width: 66px; 
    padding-left: 10px; 
    padding-right: 10px; 
    padding-top: 3px; 
    padding-bottom: 3px; 
    background: #1957B4; 
    box-shadow: -1px 2px 1px #0F0F0F; 
    border-radius: 7px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex
  }

  .Button:hover {
    background-color: #b94f29;
}
  